<!DOCTYPE html>
<html>
<head>
  <title>Notes App</title>
</head>
<body>
  <h1>Notes</h1>

  <!-- <form id="noteForm">
    <input type="text" id="title" placeholder="Title" required />
    <input type="text" id="content" placeholder="Content" required />
    <button type="submit">Add Note</button>
  </form> -->

  <form id="noteForm">
    <input type="text" id="text" placeholder="Type ur note here" />
  </form>
  <form id="testxxxx">
    <br><button type="submit">Add note</button>
  </form>

  <form id="noteFormDelete">
    <input type="text" id="textDel" placeholder="Which note to delete ?" />
  </form>
  <form id="testDelete">
    <button type="submit">Delete</button>
  </form>
  
  <p>Helloooo</p>
  <h2>Existing Notes</h2>
  <ul id="notesList"></ul>

  <script>
    async function fetchNotes() {
      const res = await fetch("/notes-get");
      const notes = await res.json();

      const list = document.getElementById("notesList");
      list.innerHTML = "";

      notes.forEach(n => {
        const li = document.createElement("li");
        
        li.textContent = `ID: ${n.id} ${n.text}`;
        // `${n.text} (ID: ${n.id})`;
        list.appendChild(li);
      });
    }

    // add data to database
    document.getElementById("testxxxx").addEventListener("submit", async (e) => {
      e.preventDefault();
      const text = document.getElementById("text").value;

      await fetch("/notes-create", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({text: text})
      });

      document.getElementById("text").value="";
      fetchNotes();
    });

    // delete data from DB 
    document.getElementById("testDelete").addEventListener("submit", async (e) => {
      e.preventDefault();
      const textDel = document.getElementById("textDel").value;

      await fetch(`/notes-delete/${textDel}`, {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ id: textDel })
      });

      document.getElementById("textDel").value="";
      fetchNotes();
    });

    fetchNotes();
  </script>
</body>
</html>
